<form action="/productos" method="POST" class="d-flex flex-column gap-2">

    <div class="d-flex flex-column w-75 mx-auto">
        <label for="" class="fw-bold">Título</label>
        <input type="text" name="title" placeholder="Título">
    </div>

    <div class="d-flex flex-column w-75 mx-auto">
        <label for="" class="fw-bold">Precio</label>
        <input type="number" name="price" placeholder="Precio">
    </div>

    <div class="d-flex flex-column w-75 mx-auto">
        <label for="" class="fw-bold">Thumbnail</label>
        <input type="text" name="thumbnail" placeholder="Thumbnail">
    </div>

    <input type="submit" value="Enviar" class="w-75 mx-auto bg-primary p-2 text-light fw-bold border-0" >
    
    <a href="/productos" class="text-center mt-3 text-decoration-none text-primary fw-bold">Ver Productos</a>
</form>