<div class="text-center d-flex justify-content-evenly align-items-center border-bottom border-secondary">
    <p>{{title}}</p>
    <p class="fw-bold">${{price}}</p>
    <img src={{thumbnail}} alt="" class="w-25" style="height: 120px;">
</div>