
<li class="border-bottom border-primary border-3">
    <span class="fw-bold">Producto:</span> {{title}} <br>
    <span class="fw-bold">Precio:</span> {{price}} <br>
    <span class="fw-bold">Thumbnail: <img src={{thumbnail}} alt=""> <br>
</li>
