<div>
    <p style="color: blue" class="fw-bold d-inline">{{email}}</p>
    <p class="d-inline" style="color: brown">[{{fecha}}]:</p>
    <i class="d-inline" style="color: green">{{mensaje}}</i>
</div>