{{#if hasAny}}
    <ul>
        {{#each prods}}
            <li>
                Producto: {{this.title}}
                Precio: {{this.price}}
                Thumbnail: {{this.thumbnail}}
            </li>
        {{/each}}
    </ul>
{{/if}}