
<form action="/productos" method="POST">
    <div>
        <label for="">Título</label>
        <input type="text" name="title" placeholder="Título">
    </div>

    <div>
        <label for="">Precio</label>
        <input type="number" name="price" placeholder="Precio">
    </div>

    <div>
        <label for="">Thumbnail</label>
        <input type="text" name="thumbnail" placeholder="Thumbnail">
    </div>

</form>