
<form action="/productos" method="POST">

    <label for="">Título</label>
    <input type="text" name="title" placeholder="Título">

    <label for="">Precio</label>
    <input type="number" name="price" placeholder="Precio">

    <label for="">Thumbnail</label>
    <input type="text" name="thumbnail" placeholder="Thumbnail">

    <input type="submit" value="Enviar">

</form>